<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.4)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<mat-card>
  <div class="manage-users-buttons-container button-right">
    <button mat-raised-button color="primary" (click)="openModalCreateUser()">
      <mat-icon>add</mat-icon> Create Member
    </button>
    <button
      mat-raised-button
      color="secondary"
      (click)="removeUsers()"
      [disabled]="memberList.length === 0 || this.currentSelection.length === 0"
    >
      <mat-icon>delete</mat-icon> Remove Member
    </button>
  </div>
  <div class="d-flex w-100 justify-content-between align-items-center">
    <mat-form-field appearance="outline">
      <mat-label> Search for member </mat-label>
      <input matInput [formControl]="searchControl" />
      <mat-icon color="primary" matPrefix>badge</mat-icon>
    </mat-form-field>

    <div class="checkbox-filters">
      <span>Type:</span>
      <mat-checkbox [(ngModel)]="userCheckboxValue">User</mat-checkbox>
      <mat-checkbox [(ngModel)]="appCheckboxValue">Application</mat-checkbox>
      <mat-checkbox [(ngModel)]="unknownCheckboxValue">Unknown</mat-checkbox>
    </div>
  </div>

  <app-user-list
    [filterGroup]="groupCheckboxValue"
    [filterUsers]="userCheckboxValue"
    [filterApp]="appCheckboxValue"
    [fiterUnknown]="unknownCheckboxValue"
    [osduMembers]="memberList"
    (selectionChanged)="handleSelectionChange($event)"
  >
    <ng-template let-element>
      <button
        mat-icon-button
        color="warn"
        (click)="deleteFunc(element.member.email)"
      >
        <mat-icon>delete_outline</mat-icon>
      </button>
    </ng-template>
  </app-user-list>
</mat-card>
