table {
  margin: 0 auto;
}

select.form-control {
  width: 235px;
}

input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
  margin: 4px 0 5px 0;
}

.tblScheme {
  text-align: right;
}
.td_left {
  width: 200px;
  color: #333;
  padding-right: 5px;
}

.tblScheme input, .tblScheme select {
  width: 250px;
  margin: 0 0 10px!important;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 15px;
}

.button-row button {
  width: 150px;
}

.modal-body {
      padding: 40px 20px 20px;
}