<ng-container *ngIf="property && value !== undefined">
  <div class="d-flex" *ngIf="isField()">
    <div class="flex-full">
      <ng-container *ngIf="property.type === 'string'">
        <ng-container *ngIf="!property.format">
          <app-edit-object-property-string
            [(value)]="value"
            [valueName]="valueName"
            [property]="property"
            [readonly]="readonly"
            (valueChange)="valueChanged($event)"
          ></app-edit-object-property-string>
        </ng-container>

        <ng-container *ngIf="property.format === 'date-time'">
          <app-edit-object-property-date-time
            [(value)]="value"
            [valueName]="valueName"
            [property]="property"
            [readonly]="readonly"
            (valueChange)="valueChanged($event)"
          >
          </app-edit-object-property-date-time>
        </ng-container>

        <ng-container *ngIf="property.format === 'date'">
          <app-edit-property-date
            [(value)]="value"
            [valueName]="valueName"
            [property]="property"
            [readonly]="readonly"
            (valueChange)="valueChanged($event)"
          ></app-edit-property-date>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="property.type === 'number'">
        <app-edit-object-property-number
          [(value)]="value"
          [valueName]="valueName"
          [property]="property"
          [readonly]="readonly"
          (valueChange)="valueChanged($event)"
        >
        </app-edit-object-property-number>
      </ng-container>

      <ng-container *ngIf="property.type === 'array'">
        <app-edit-object-container
          label="{{ valueName }}"
          icon="data_array"
          [expanded]="expanded"
        >
          <app-edit-object-property-array
            [(value)]="value"
            [valueName]="valueName"
            [property]="property"
            [definitions]="definitions"
            [readonly]="readonly"
            (valueChange)="valueChanged($event)"
          >
          </app-edit-object-property-array>
        </app-edit-object-container>
      </ng-container>

      <ng-container *ngIf="property.type === 'object'">
        <app-edit-object-container
          label="{{ valueName }}"
          icon="data_object"
          [expanded]="expanded"
        >
          <app-edit-object-property-object
            [(value)]="value"
            [valueName]="valueName"
            [property]="property"
            [definitions]="definitions"
            [readonly]="readonly"
            (valueChange)="valueChanged($event)"
          >
          </app-edit-object-property-object>
        </app-edit-object-container>
      </ng-container>
    </div>

    <ng-container
      [ngTemplateOutlet]="deleteButton"
      [ngTemplateOutletContext]="{valueName}"
    ></ng-container>
  </div>

  <ng-container *ngIf="property.allOf">
    <app-edit-object-container
      [label]="valueName"
      icon="data_object"
      [expanded]="expanded"
    >
      <app-edit-object-property-all-of
        [allOfArray]="property.allOf"
        [definitions]="definitions"
        [(value)]="value"
        [readonly]="readonly"
        (valueChange)="valueChanged($event)"
      >
      </app-edit-object-property-all-of>
    </app-edit-object-container>
  </ng-container>

  <ng-container *ngIf="property.oneOf">
    <div class="d-flex">
      <div class="flex-full">
        <app-edit-object-container
          [label]="valueName"
          icon="question_mark"
          [expanded]="expanded"
        >
          <app-edit-object-property-one-off
            [definitions]="definitions"
            [(value)]="value"
            [oneOfArray]="property.oneOf"
            [readonly]="readonly"
            [valueName]="valueName"
            (valueChange)="valueChanged($event)"
          >
          </app-edit-object-property-one-off>
        </app-edit-object-container>
      </div>
      <ng-container
        [ngTemplateOutlet]="deleteButton"
        [ngTemplateOutletContext]="{valueName}"
      ></ng-container>
    </div>
  </ng-container>

  <app-edit-object-property-ref
    [(value)]="value"
    [valueName]="valueName"
    [property]="property"
    [definitions]="definitions"
    [readonly]="readonly"
    (valueChange)="valueChanged($event)"
    *ngIf="property.$ref"
  >
  </app-edit-object-property-ref>
</ng-container>

<ng-template #deleteButton let-valueName="valueName">
  <button
    mat-icon-button
    color="warn"
    (click)="deleteField(valueName)"
    *ngIf="!readonly"
  >
    <mat-icon>delete_outline</mat-icon>
  </button>
</ng-template>
