<h1 mat-dialog-title>Create member</h1>

<div mat-dialog-content class="d-flex flex-column" style="min-width: 500px">
  <app-user-autocomplete
    (selectedChange)="selectUser($event)"
  ></app-user-autocomplete>

  <ng-container *ngIf="selectedUser">
    <div class="d-flex field-container">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [ngModel]="selectedUser.displayName" readonly
      /></mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [ngModel]="selectedUser.mail" readonly
      /></mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput [ngModel]="selectedUser.id" readonly
    /></mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <mat-select [(ngModel)]="selectedLevel">
        <mat-option *ngFor="let level of privilegeLevel" [value]="level">
          {{ level.name }}
        </mat-option>
      </mat-select>
      <mat-icon
        matSuffix
        color="primary"
        class="icon-info"
        [matTooltip]="tooltipLevelMessage"
        >info</mat-icon
      >
    </mat-form-field>
  </ng-container>
</div>

<div mat-dialog-actions>
  <div class="add-member-buttons-container">
    <button mat-raised-button color="secondary" [mat-dialog-close]="false">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!canSave"
      (click)="requestSubmit()"
    >
      Create
    </button>
  </div>
</div>
