/* editable select option */

.select-editable {
  position: relative;
  background-color: white;
  border: solid grey 1px;
  width: 120px;
  height: 18px;
}
.select-editable select {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  border: none;
  width: 120px;
  margin: 0;
}
.select-editable input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  padding: 1px;
  font-size: 12px;
  border: none;
}
.select-editable select:focus,
.select-editable input:focus {
  outline: none;
}

.actions {
  gap: 10px;
}

.mat-icon-smaller {
  font-size: 16px;
  position: relative;
  top: -4px;
  left: 10px;
}
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 3px;
}

::ng-deep .mat-select-value {
  position: relative;
  top: -3px;
}

.buttons-container {
  padding: 0;
  margin: 40px 0 20px;
}
