label {
  text-transform: capitalize;
}
.modal-content {
  width: 160% !important;
  margin-left: -16%;
}
textarea {
  height: 100px;
  line-height: 22px;
  padding-top: 10px;
}

.emailCheckIcon {
  font-size: 16px;
  color: #05ad12;
}

.dropdown-list {
  position: relative !important;
}
li.multiselect-item-checkbox {
  list-style: initial !important;
}

:host
  ::ng-deep
  .multiselect-item-checkbox[_ngcontent-gdv-c109]
  input[type="checkbox"][_ngcontent-gdv-c109]
  + div[_ngcontent-gdv-c109] {
  font-size: 14px !important;
}

.add-leagal-label {
  text-align: right;
  width: 100%;
  margin-bottom: 0;
  margin-top: 10px;
}

.add-legal-input {
  width: 100% !important;
  margin: 0 0 10px !important;
}

.add-legal-input:focus {
  border-color: #80bdff;
}

.modal-body .col-md-3,
.modal-body .col-md-9 {
  padding-right: 0 !important;
}

.modal-body .form-control:focus {
  box-shadow: none;
}

#myForm.modal-form {
  padding-left: 0px;
  padding-right: 35px;
  margin-bottom: 20px;
}

::ng-deep .add-legal-input .multiselect-dropdown .dropdown-btn {
  border-color: #ced4da !important;
}

.add-legal-check-icon {
  padding: 8px 0;
  position: relative;
  left: -5px;
}

.buttons-container {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
