<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.4)" size = "medium" color = "#fff" type = "ball-scale-multiple" ><p style="color: white" > Loading... </p></ngx-spinner> -->

<div class="modal-header" style="padding: 4px 20px" id="videoTitle">
  <h4 class="modal-title" id="videoTitle1" style="width: 100%">
    Create Legal Tag
    <button
      style="float: right"
      type="button"
      (click)="closePopup()"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
    >
      &times;
    </button>
  </h4>
</div>
<div class="modal-body" style="height: auto">
  <form #myForm id="myForm" class="modal-form">
    <div class="row">
      <div class="col-md-3">
        <label class="add-leagal-label">Name:</label>
      </div>
      <div class="col-md-3">
        <input
          type="text"
          value=""
          id="legalname"
          [(ngModel)]="selectedlegalname"
          name="legalname"
          (focusout)="validateLegalName($event.target.value)"
          placeholder="name"
          class="add-legal-input"
        />
      </div>
      <div class="col-md-1 col-sm-1">
        <div class="add-legal-check-icon">
          <i
            *ngIf="isNameSpin && !isNameChecked"
            class="fa fa-spinner fa-pulse emailCheckIcon"
          ></i>
          <i
            *ngIf="isNameChecked && isNameavailable"
            class="fa fa-check emailCheckIcon"
          ></i>
          <i
            *ngIf="isNameChecked && !isNameavailable"
            class="fa fa-times emailCheckIcon"
            style="color: #ea1b24"
          ></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="add-leagal-label">Contract ID:</label>
      </div>
      <div class="col-md-3">
        <input
          type="text"
          value=""
          id="contractid"
          [(ngModel)]="selectedcontractid"
          name="contractid"
          placeholder="contract id"
          class="add-legal-input"
        />
      </div>
      <div class="col-md-3">
        <label class="add-leagal-label">Data Type:</label>
      </div>
      <div class="col-md-3">
        <select
          class="form-control add-legal-input"
          [(ngModel)]="selecteddataType"
          name="dataType"
        >
          <option value="0" selected="selected">select data type</option>
          <option value="{{ data }}" *ngFor="let data of dataTypeList">
            {{ data }}
          </option>
        </select>
        <!-- <input type="text" value="" id="dataType" name="dataType" placeholder="data type"/> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="add-leagal-label">Originator:</label>
      </div>
      <div class="col-md-3">
        <input
          type="text"
          placeholder="originator"
          [(ngModel)]="selectedoriginator"
          value=""
          id="originator"
          name="originator"
          class="add-legal-input"
        />
      </div>
      <div class="col-md-3">
        <label class="add-leagal-label">personal Data:</label>
      </div>
      <div class="col-md-3">
        <select
          class="form-control add-legal-input"
          [(ngModel)]="selectedpersonalData"
          name="personalData"
        >
          <option value="0" selected="selected">
            select personal datatype
          </option>
          <option value="{{ data }}" *ngFor="let data of personalDataTypeList">
            {{ data }}
          </option>
        </select>
        <!-- <input type="text" placeholder="personal data"  value="" id="personalData" name="personalData"/> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="add-leagal-label">security Classification:</label>
      </div>
      <div class="col-md-3">
        <select
          class="form-control add-legal-input"
          [(ngModel)]="selectedsecurityClassification"
          name="securityClassification"
        >
          <option value="0" selected="selected">
            select security classification
          </option>
          <option
            value="{{ data }}"
            *ngFor="let data of securityClassificationList"
          >
            {{ data }}
          </option>
        </select>
        <!-- <input type="text" placeholder="security classification"  value="" id="securityClassification" name="securityClassification"/> -->
      </div>
      <div class="col-md-3">
        <label class="add-leagal-label">country Of Origin:</label>
      </div>
      <div class="col-md-3">
        <ng-multiselect-dropdown
          [placeholder]="'select country'"
          [settings]="dropdownSettings"
          [data]="countryList"
          [(ngModel)]="selectedcountryOfOrigin"
          name="countryOfOrigin"
          class="add-legal-input"
        >
        </ng-multiselect-dropdown>
        <!-- <ng-multiselect-dropdown style=" list-style: initial !important;" [placeholder]="'select country'" [data]="cities" 
                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown> -->
        <!-- <input type="text" placeholder="country of origin"  value="" id="countryOfOrigin" name="countryOfOrigin"/> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="add-leagal-label">expiration Date:</label>
      </div>
      <div class="col-md-3">
        <input
          (click)="d.toggle()"
          class="form-control add-legal-input"
          autocomplete="off"
          placeholder="yyyy-mm-dd"
          name="dp"
          [(ngModel)]="selectedexpirationDate"
          ngbDatepicker
          #d="ngbDatepicker"
        />

        <!-- <input type="text" placeholder="yyyy-mm-dd" [(ngModel)]="selectedexpirationDate" value="" id="expirationDate" name="expirationDate"/> -->
      </div>
      <div class="col-md-3">
        <label class="add-leagal-label">export Classification:</label>
      </div>
      <div class="col-md-3">
        <select
          class="form-control add-legal-input"
          [(ngModel)]="selectedexportClassification"
          name="exportClassification"
        >
          <option value="0" selected="selected">
            select export classification
          </option>
          <option
            value="{{ data }}"
            *ngFor="let data of exportClassificationList"
          >
            {{ data }}
          </option>
        </select>
        <!-- <input type="text" value="" id="export classification"  name="exportClassification" placeholder="exportClassification"/> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="add-leagal-label">Description:</label>
      </div>
      <div class="col-md-9">
        <textarea
          placeholder="description..."
          [(ngModel)]="selecteddescription"
          value=""
          id="description"
          name="description"
          class="add-legal-input"
        ></textarea>
      </div>
    </div>
  </form>
  <div style="text-align: center">
    <p *ngIf="isSuccess" style="color: green">{{ successMessge }}</p>
    <p *ngIf="isError" style="color: red">{{ errorMessge }}</p>
  </div>
  <div class="row" class="buttons-container">
    <button
      class="btn btn-success"
      form="login-form"
      type="submit"
      style="width: 150px"
      (click)="requestSubmit()"
    >
      Create<i class="icon-material-outline-arrow-right-alt"></i>
    </button>
    <button
      mat-raised-button
      color="warn"
      form="login-form"
      type="submit"
      style="width: 150px; margin-left: 1%"
      (click)="myFormreset()"
    >
      Clear<i class="icon-material-outline-arrow-right-alt"></i>
    </button>
  </div>
</div>
