::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none !important;
}

.edit-user-role {
  width: 120px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  border: 1px solid #333;
  border-radius: 0.3em;
  background: white;
  padding: 10px;
  margin: 15px 0 0;
}
