a.search_href {
  text-decoration: underline;
  font-weight: 600;
  font-size: 17px;
  color: #e59034;
}
a.search_href:hover {
  color: black;
}
a.search_href_diabled {
  color: #c3c2c2;
}

input[type="checkbox"] {
  height: 15px;
  box-shadow: none;
}

.table-container {
  overflow-x: visible;
  max-width: 100%;
}

.page-container {
  overflow: hidden;
}

app-osdu-object-list {
  width: 100%;
}

.search-field {
  flex: 1;
}

.checkbox-container {
  min-width: 200px;
}

::ng-deep .checkbox-container .mat-checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.map-nav {
  padding: 0 10px 10px 0;
  text-align: end;
}

.mat-expansion-panel-header-title {
  font-weight: 400 !important;
  text-transform: uppercase !important;
}

.mat-expansion-panel-header.mat-expanded {
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
}

.mat-icon-smaller {
  font-size: 16px;
  position: relative;
  top: 4px;
}

