<div class="d-flex align-items-center filter-element-container">
  <mat-form-field appearance="outline">
    <mat-label> Select field </mat-label>
    <mat-select
      [(ngModel)]="filters.selectedField"
      (selectionChange)="emitFilersChange('firstValue')"
    >
      <mat-option *ngFor="let field of fields" [value]="field">
        {{ field }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-auto-complete
    label="Select value"
    [getSuggestions]="getSuggestions.bind(this)"
    [(selected)]="filters.firstValue"
    [displayFn]="displayFn"
    (selectedChange)="emitFilersChange()"
    class="autocomplete-field"
  ></app-auto-complete>

  <mat-form-field appearance="outline" class="operator-field">
    <mat-select
      [(ngModel)]="filters.selectedOperator"
      (selectionChange)="emitFilersChange()"
    >
      <mat-option *ngFor="let op of operators" [value]="op">
        {{ op }}
      </mat-option>
    </mat-select>
    <mat-icon
      class="mat-icon-smaller"
      color="primary"
      matSuffix
      [matTooltip]="tooltipContent"
      >info</mat-icon
    >
  </mat-form-field>

  <app-auto-complete
    label="Select value"
    [getSuggestions]="getSuggestions.bind(this)"
    *ngIf="filters.selectedOperator === 'OR'"
    [(selected)]="filters.secondValue"
    (selectedChange)="emitFilersChange()"
    [displayFn]="displayFn"
    class="autocomplete-field"
  ></app-auto-complete>

  <mat-form-field
    appearance="outline"
    *ngIf="filters.selectedOperator === 'AND'"
    class="autocomplete-field"
  >
    <mat-label>Enter the query value</mat-label>
    <input
      matInput
      [(ngModel)]="filters.secondValue"
      (ngModelChange)="emitFilersChange()"
    />
  </mat-form-field>
</div>
