label {
  font-weight: 600;
}
thead {
  background: #00667f;
}
th {
  color: white;
  text-transform: capitalize;
  text-align: left;
  cursor: pointer;
}


/* swwetalert */
.sweet-alert .sa-icon {
  width: 80px !important;
  height: 87px !important;
  border: 4px solid gray;
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  box-sizing: content-box;
}
