<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.4)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  ><p style="color: white">Loading...</p></ngx-spinner
>

<div class="modal-header" style="padding: 4px 20px" id="videoTitle">
  <h4 class="modal-title" id="videoTitle1" style="width: 100%">
    Service Account
    <button
      style="float: right"
      type="button"
      (click)="closePopup()"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
    >
      &times;
    </button>
  </h4>
</div>
<div class="modal-body" style="height: auto">
  <div class="container">
    <form #myForm id="myForm">
      <table>
        <tr>
          <td>
            <label>Service Account Label:&nbsp; </label>
          </td>
          <td>
            <input
              type="text"
              placeholder="Service Account Label"
              [(ngModel)]="txtAccLabel"
              name="txtAccLabel"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label>Authorization Type: </label>
          </td>
          <td>
            <input
              type="text"
              placeholder="Authorization Type"
              [(ngModel)]="txtAccAuthType"
              name="txtAccAuthType"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label>Account Name: </label>
          </td>
          <td>
            <input
              type="text"
              placeholder="Account Name"
              [(ngModel)]="txtAccName"
              name="txtAccName"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label>Secret Manager Key: </label>
          </td>
          <td>
            <input
              type="text"
              placeholder="Secret Manager Key"
              [(ngModel)]="txtSecretManKey"
              name="txtSecretManKey"
            />
          </td>
        </tr>
        <tr>
          <td>
            <label>Auth Server Endpoint: </label>
          </td>
          <td>
            <input
              type="text"
              placeholder="Auth Server Endpoint"
              [(ngModel)]="txtAuthEndpoint"
              name="txtAuthEndpoint"
            />
          </td>
        </tr>
      </table>
    </form>
    <div style="text-align: center">
      <p *ngIf="isSuccess" style="color: green">{{ successMessge }}</p>
      <p *ngIf="isError" style="color: red">{{ errorMessge }}</p>
    </div>
    <div class="row" style="justify-content: center">
      <button
        class="btn btn-success"
        form="login-form"
        type="submit"
        style="width: 150px"
        (click)="requestSubmit()"
      >
        Save<i class="icon-material-outline-arrow-right-alt"></i>
      </button>
    </div>
  </div>
</div>
