.attribute-name {
  font-weight: bold;
  color: var(--primary-color);
  white-space: nowrap;
  overflow: hidden;
}

.attribute-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-tree-node {
  border-bottom: dashed 0.5px;
  border-bottom-color: var(--primary-color);
  overflow-wrap: anywhere;
}
