.attribute-name {
  font-weight: 500;
  color: var(--primary-color);
  white-space: nowrap;
  overflow: hidden;
}

.attribute-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-tree-node {
  border-bottom: dashed 0.5px;
  border-bottom-color: #ccc;
  overflow-wrap: anywhere;
}

.buttons-in-title {
  position: absolute;
  top: 11px;
  right: 45px;
}

.buttons-in-title .mat-primary {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.buttons-in-title .mat-primary .mat-icon {
  font-size: 18px;
  width: 15px;
  height: 15px;
}

