.widget-title {
  color: #00667f;
  font-weight: 100;
  margin: 15px 10px;
  font-size: 24px;
}

.add-new-source-btn {
  margin: 20px 0; 
}

button.btn.btn-success.openAddGroupModal {
  background-color: #00667f !important;
  border-color: #00667f !important;
  cursor: pointer;
  border-radius: 0px !important;
}


input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
  color: black;
}

input:disabled {
  color: grey;
}

thead th {
  color: white !important;
}

.container {
  padding: 3%;
  box-shadow: 2px 2px 20px 0px grey;
  margin-bottom: 1%;
}

.active .bs-stepper-circle {
  background-color: #00a6de;
}

i.fa.fa-trash {
  font-size: 18px;
}

th {
  text-align: left;
}

.multiselect-dropdown .dropdown-btn {
  border: 0px solid #fff !important;
  padding: 0px 4px !important;

  line-height: 1 !important;
}


.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  line-height: 15px !important;
  width: 25px !important;
  height: 38px !important;
  right: 0px !important;
  top: 0 !important;
  padding: 2px 8px !important;
}

.inner-table {
  border: 1px solid #ccc;
}

.inner-table-body {
  padding: 20px;
}

.add-new-source-header {
  padding: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  background: #00667f;
  color: white;
}

.registerd-sources {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding-bottom: 20px;
}

.registerd-sources label {
  width: 265px;
  margin: 0;
}

.registerd-sources .form-control {
  flex-grow: 2;
  height: 40px;
  margin: 0;
}

.registerd-sources .form-control:focus {
  box-shadow: none;
}

.table th {
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
}

.formfield-row input, .formfield-row .form-control {
  margin: 0 0 10px!important;
  width: 100%!important;
      padding: 5px 15px;
      }

      .formfield-row .multidpd {
        height: 60px;
          padding: 10px;
      }

.formfield-row label {
  width: 100%;
  height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    text-align: right;
}

.formfield-row .col-md-4, .formfield-row .col-md-10 {
  padding-left: 0;
}

::ng-deep .formfield-row .multiselect-dropdown {
  padding: 0 15px;
  overflow: hidden;
}

.formfield-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.agreement-id {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

.agreement-id .btn.btn-success {
  margin: 0!important;
  width: 230px;
}
.agreement-id h5 {
  font-size: 18px;
    color: #333;
    font-weight: 400;
}

.inner-table-body hr {
  margin: 0;
}

.inner-table-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}