img {
  width: 10%;
}

.tile-icon {
  transform: scale(3);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tile-label {
  font-size: 48px;
  font-family: "Roboto" !important;
  font-weight: 100;
}

.dashboard-button {
  background-color: #12a5de;
  color: white;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  width: 90%;
  margin: 5px;
  cursor: pointer;
}

.dashboard-button:hover {
  background-color: #2fbaed;
  cursor: pointer;
}

.big-icon {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 80px;
}

.matcard {
  background-color: #00667f;
  color: white;
}

.icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  top: -18px;
}

.mat-icon-dashboard {
  color: white;
}

.editUserhref-dashboard {
  cursor: pointer;
  color: white !important;
  text-decoration: underline;
}

a.editUserhref-dashboard:hover {
  color: #008faf !important;
  text-decoration: none;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
