<div
  class="d-flex justify-content-center align-items-center flex-column flex-gap"
>
  <mat-card class="mat-elevation-z8 flex-full">
    <mat-card-content>
      <div class="d-flex justify-content-center">
        <img src="/assets/images/admin_ui_logo_hd.png" />
      </div>
    </mat-card-content>
  </mat-card>

  <div class="d-flex flex-wrap flex-gap w-100">
    <mat-card *ngFor="let tile of tiles" class="mat-elevation-z8 flex-full matcard">
      <mat-card-header>
        <div class="d-flex justify-content-center w-100">
          <mat-card-title class="tile-label"> {{ tile.label }}</mat-card-title>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon class="tile-icon">{{ tile.icon }}</mat-icon>
        </div>
        <div class="d-flex justify-content-center">
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let child of tile.children">
              <mat-icon class="mat-icon-dashboard">{{ child.icon }}</mat-icon>
              <a [routerLink]="child.value" class="editUserhref-dashboard ml-2">{{
                child.label
              }}</a>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
