<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.4)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  ><p style="color: white">Loading...</p></ngx-spinner
>

<div class="modal-header" style="padding: 4px 20px" id="videoTitle">
  <h4 class="modal-title" id="videoTitle1" style="width: 100%">
    Service Agreement
    <button
      style="float: right"
      type="button"
      (click)="closePopup()"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
    >
      &times;
    </button>
  </h4>
</div>
<div class="modal-body" style="height: auto">
  <form #myForm id="myForm">
    <div class="add-service-agreement">
      <label>Id:</label>

      <input
        type="text"
        value=""
        [(ngModel)]="ngServiceAgreementName"
        id="username"
        name="username"
        placeholder="Service Agreement"
      />
    </div>
  </form>
  <div class="add-message">
    <p *ngIf="isSuccess" style="color: green">{{ successMessge }}</p>
    <p *ngIf="isError" style="color: red">{{ errorMessge }}</p>
  </div>

  <button
    class="btn btn-success"
    form="login-form"
    type="submit"
    style="width: 150px"
    (click)="requestSubmit()"
  >
    {{ btnName }}<i class="icon-material-outline-arrow-right-alt"></i>
  </button>
</div>
