<table mat-table [dataSource]="filteredData" matSort class="w-100">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="onMasterToggle()"
        [checked]="isAllSelected()"
        [indeterminate]="isSomeSelected() && !isAllSelected()"
      ></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (change)="onCheckboxChange(row)"
        [checked]="selection.isSelected(row)"
      ></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">
      {{ element.member.email }}
    </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
    <td mat-cell *matCellDef="let element">
      <ng-container>
        <mat-icon color="primary" *ngIf="element.isGroup" matTooltip="Group"
          >group</mat-icon
        >
        <mat-icon
          color="primary"
          matTooltip="User"
          *ngIf="
            !element.isGroup &&
            element.azureMember.id !== 'unknown' &&
            element.azureMember.type === 'user'
          "
          >person</mat-icon
        >
        <mat-icon
          color="primary"
          *ngIf="
            !element.isGroup &&
            element.azureMember.id !== 'unknown' &&
            element.azureMember.type === 'application'
          "
          matTooltip="Application"
          >manage_accounts</mat-icon
        >
        <mat-icon
          color="primary"
          *ngIf="!element.isGroup && element.azureMember.id === 'unknown'"
          matTooltip="Unknown"
          >question_mark</mat-icon
        >
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="displayName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">
      <a
        class="editUserhref"
        (click)="navigateToGroup(element.member)"
        href="javascript:void(0);"
        *ngIf="element.isGroup"
        >{{ element.member.email }}</a
      >
      <a
        *ngIf="!element.isGroup"
        class="editUserhref"
        [routerLink]="'/entitlement/user-profile/' + element.member.email"
        >{{ element.azureMember.displayName }}</a
      >
    </td>
  </ng-container>
  <ng-container matColumnDef="mail">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="!element.isGroup">{{ element.azureMember.mail }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
    <td mat-cell *matCellDef="let element">
      <app-edit-user-role
        [member]="element.member"
        [group]="group"
        *ngIf="editRole && !element.isGroup"
      ></app-edit-user-role>
      <ng-container *ngIf="!editRole || element.isGroup">
        <p class="table-padding">{{ element.member.role }}</p>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <div style="position: relative; top: -6px">
        <ng-template
          [ngTemplateOutlet]="templateRef"
          [ngTemplateOutletContext]="{ $implicit: element }"
        ></ng-template>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns; let even = even"
    [ngClass]="{ strippedRow: even }"
  ></tr>
</table>

<app-empty-state
  icon="person_search"
  text="No member to display"
  *ngIf="filteredData.data.length === 0"
>
</app-empty-state>

<mat-paginator
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
>
</mat-paginator>
