<mat-card>
  <div class="search-view">
    <div class="button-bar" style="display: flex">
      <div class="col-xs-6 col-md-5 col-lg-5">
        <input
          type="text"
          placeholder="Please enter a query string"
          [(ngModel)]="searchQueryRequest"
          (keyup.enter)="launchSearch()"
        />
      </div>
      <div class="col-xs-6">
        <button
          type="button"
          class="btn btn-success"
          data-toggle="tooltip"
          title="Search object via request"
          [disabled]="
            searchQueryRequest === '0' || searchQueryRequest === undefined
          "
          (click)="launchSearch()"
        >
          <i class="fa fa-search"></i>&nbsp; Search
        </button>
      </div>
      <div class="col-xs-6 col-md-3" style="margin-left: 3%">
        <input
          id="myInput"
          type="text"
          placeholder="Filter.."
          name="myInput"
          [(ngModel)]="myInput"
          (keyup)="searchFilter($event.target.value)"
        />
      </div>
      <div class="col-xs-6" style="margin-left: 3%">
        <button
          type="button"
          class="btn btn-success"
          data-toggle="tooltip"
          title="Share seleted objects to groups"
          [disabled]="selectedObjects.length < 1"
          (click)="openModalAddACL()"
        >
          <i class="fa fa-user-plus"></i>&nbsp;Share
        </button>
      </div>
    </div>
    <div class="satus_loading" *ngIf="loading"></div>
    <div class="satus_search" *ngIf="!loading">
      <div
        class="no_result"
        *ngIf="
          resultSearchQueryCount === 0 && this.cmnSrvc.searchQuery !== undefined
        "
        style="margin-top: 3%; color: #ff0000; text-indent: 2%"
      >
        <i class="fa fa-exclamation-triangle"></i>&nbsp; Sorry, no result
      </div>
      <div
        class="no_search"
        *ngIf="
          resultSearchQueryCount === 0 && this.cmnSrvc.searchQuery === undefined
        "
        style="margin-top: 3%; text-indent: 2%"
      >
        Please enter a query string to find objects
      </div>
      <div class="resultat" *ngIf="resultSearchQueryCount > 0">
        <div class="resultat-bar-title">
          <label
            style="
              float: right;
              font-weight: 600;
              margin-top: 2%;
              margin-right: 1%;
            "
            >Total No of Results: {{ resultSearchQueryCount }}</label
          >
          <br />
          <h5>Results :</h5>
        </div>
        <div class="resultat-bar">
          <table
            id="table"
            class="table table-striped table-hover table-bordered"
            data-toggle="table"
            data-height="460"
            data-show-columns="true"
            data-show-columns-toggle-all="true"
            data-searchable="true"
          >
            <thead>
              <tr>
                <th data-field="select" style="width: 60px">
                  select
                  <input
                    id="checkboxAll"
                    type="checkbox"
                    style="width: 20%; height: auto; transform: scale(2.5)"
                    (change)="selectAll($event)"
                    [(ngModel)]="AllSelector"
                    [value]="-1"
                  />
                </th>
                <th data-field="id">id</th>
                <th data-field="kind">name</th>
                <th data-field="kind">kind</th>
                <th data-field="version">version</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let object of resultSearchQueryFilter; index as i">
                <td>
                  <input
                    id="checkboxSelect"
                    name="checkboxSelect"
                    type="checkbox"
                    style="width: 20%; height: auto; transform: scale(2.5)"
                    (change)="
                      addObjectToSelect($event, resultSearchQueryFilter[i].id)
                    "
                    [checked]="ObjectInSelect(resultSearchQueryFilter[i].id)"
                  />
                </td>
                <td
                  href="javascript:void(0);"
                  title="Click here to view object Details"
                  (click)="openModalObjectView(resultSearchQueryFilter[i].id)"
                  class="editUserhref"
                >
                  {{
                    this.cmnSrvc.cleanAttributeID(resultSearchQueryFilter[i].id)
                  }}
                </td>
                <td>
                  {{
                    this.cmnSrvc.findAttibuteNameObject(
                      resultSearchQueryFilter[i].data,
                      this.cmnSrvc.cleanAttributeKIND(
                        resultSearchQueryFilter[i].kind
                      )
                    )
                  }}
                </td>
                <td>
                  {{
                    this.cmnSrvc.cleanAttributeKIND(
                      resultSearchQueryFilter[i].kind
                    )
                  }}
                </td>
                <td>
                  {{ resultSearchQueryFilter[i].version }}&nbsp;&nbsp;{{
                    this.cmnSrvc.getDateFromVersion(
                      resultSearchQueryFilter[i].version / 1000
                    )
                  }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.4)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  ><p style="color: white">Loading...</p></ngx-spinner
>
